@import url(//db.onlinewebfonts.com/c/1238db2fc008ce88465a792fad1e5519?family=Druk+Wide+Medium);
@font-face {
    font-family: "Druk Wide Medium";
    src: url("//db.onlinewebfonts.com/t/1238db2fc008ce88465a792fad1e5519.eot");
    src: url("//db.onlinewebfonts.com/t/1238db2fc008ce88465a792fad1e5519.eot?#iefix")
            format("embedded-opentype"),
        url("//db.onlinewebfonts.com/t/1238db2fc008ce88465a792fad1e5519.woff2")
            format("woff2"),
        url("//db.onlinewebfonts.com/t/1238db2fc008ce88465a792fad1e5519.woff")
            format("woff"),
        url("//db.onlinewebfonts.com/t/1238db2fc008ce88465a792fad1e5519.ttf")
            format("truetype"),
        url("//db.onlinewebfonts.com/t/1238db2fc008ce88465a792fad1e5519.svg#Druk Wide Medium")
            format("svg");
}
* {
    margin: 0;
    padding: 0;
    font-size: 24px;
    text-decoration: none;
    list-style-type: none;
    font-family: "Druk Wide Medium";
}
header {
    text-align: center;
}
#logo {
    position: inline-block;
    width: 400px;
    margin-top: 15px;
}
body {
    color: white;
    background-color: #000000;
}
.RS-menu {
    margin: 0% 10%;
}
.RS-button {
    margin: 0 auto;
    display: flex;
    align-items: center;
    width: 50%;
    height: 53px;
    margin-bottom: 20px;
    opacity: 0.7;
    background-color: white;
    border-radius: 10px;
    border-style: double;
    text-align: left;
}
.RS-button:hover {
    margin-top: -5px;
    height: 63px;
    background-color: #ffffff8f;
    margin-bottom: 15px;
}
.RS-button:hover img {
    height: 34px;
    width: 34px;
    padding-left: 8px;
}
.RS-button:hover p {
    font-size: 25px;
}
.RS-logo {
    position: absolute;
    height: 30px;
    width: 30px;
    padding-left: 10px;
    order: 1;
}
.RS-tag {
    margin: 0 auto;
    order: 2;
}
.video-bloc {
    position: relative;
    height: 100%;
    width: 100%;
}
.video-player {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.4;
}
@media (pointer: none), (pointer: coarse) {
    * {
        font-size: 18px;
        overflow: hidden;
    }
    #logo {
        position: absolute;
        top: 75%;
        width: 40%;
        left: 30%;
    }
    .options a {
        font-size: 50px;
    }
    .RS-menu {
        margin: 10% 10%;
    }
    .RS-button {
        align-items: center;
        width: 100%;
    }
    .RS-button:hover {
        margin: 0 auto;
        height: 53px;
        margin-bottom: 20px;
        opacity: 0.7;
        background-color: white;
    }
    .RS-button:hover img {
        height: 30px;
        width: 30px;
        padding-left: 10px;
    }
    .RS-button:hover p {
        font-size: 18px;
    }
}
