* {
    margin: 0;
    padding: 0;
    font-size: 24px;
}
#logo {
    width: 400px;
    margin-top: 15px;
}
body {
    text-align: center;
    color: white;
    background-color: #000000;
}
.video-bloc {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.video-player {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.4;
}

.nav-bar ul {
    margin: 5px;
}
.options {
    display: inline-block;
}
.options a {
    text-decoration: none;
    list-style-type: none;
    margin: 0px 25px;
    color: white;
}
.options a:hover {
    color: lightblue;
}
.title {
    margin: 25px;
}
.music-buttons {
    margin: 0px 10px;
}
.music-bloc {
    margin-top: 20px;
}
.music-player {
    display: inline-block;
}
#pause-button {
    display: none;
}
@media (pointer: none), (pointer: coarse) {
    * {
        font-size: 16px;
    }
    #logo {
        width: 60%;
    }
    .music-player {
        vertical-align: top;
    }
    #pause-button {
        margin: 1px 10px;
    }
    #play-button {
        margin: 1px 10px;
    }
}
